<template name="login">
  <form id="loginForm">
    <div class="form-group">
      <label for="loginInputEmail">Email address</label>
      <input type="text" class="form-control" id="loginInputEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="loginInputPassword">Password</label>
      <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</template>
